.layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container {
  max-width: 425px;
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  font-weight: 700;
}

.imageContainer {
  display: inline-flex;
  margin-bottom: 25px;
  align-items: center;
}

.buttonName {
  margin-left: 10px;
}

.button {
  max-width: 250px;
  width: 250px;
  margin-right: 5px;
}

.error {
  color: rgb(211, 108, 108);
}
